@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

canvas{
  background-color: black;
  width: 75%;
  height: 100%;
  margin-top: 0px;
  margin-left: 150px;
}
p{
  margin-left: 35%;
  font-size: 45px;
  font-family: 'Space Mono', monospace;
}
